<div class="row" ng-controller="LoginController">
	<div class="col-sm-12">
		<h2>Log In</h2>
		<p>
			Don't have an account?
			<a href="#" ng-click="redirect('auth.register')">Register</a>
		</p>
		<hr>
		<div class="row">
			<div class="col-sm-4">
				<form novalidate name="form">
					<div class="form-group" ng-class="{ 'has-error' : form.username.$invalid && form.username.$dirty }">
						<label for="username">
							<span class="glyphicon glyphicon-user"></span>
							Username
						</label>
						<input type="text" class="form-control" id="username" name="username" ng-model="username" placeholder="Rachel" ng-maxlength="10"
							ng-required="true">
						<span ng-show="form.username.$invalid && form.username.$dirty" class="text-warning">Please enter a username of up to 10 characters.</span>
					</div>

					<div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && form.password.$dirty }">
						<label for="password">
							<span class="glyphicon glyphicon-eye-open"></span>
							Password
						</label>
						<input type="password" class="form-control" id="password" name="password" ng-model="password" placeholder="Password" ng-required="true"
							ng-maxlength="8">
						<span ng-show="form.password.$invalid && form.password.$dirty" class="text-warning">Please enter a password of up to 8 characters.</span>
					</div>

					<button class="btn btn-primary" ng-click="submit()" ng-disabled="form.$pristine || form.$invalid">Log In</button>
					<span ng-show="submitted && error.length" class="text-danger">{{ error }}</span>
				</form>
			</div>
		</div>
	</div>
</div>
