<div class="row">
	<form class="col-md-4">
		<h2>Log In</h2>
		<p>Don't have an account? <a href="#" ng-click="redirect('auth.register')">Register</a></p>
		<div class="form-group">
			<label for="username">Username</label> <input type="text"
				class="form-control" id="username" ng-model="username"
				placeholder="Username">
		</div>
		<div class="form-group">
			<label for="password">Password</label> <input type="password"
				class="form-control" id="password" ng-model="password"
				placeholder="Password">
		</div>
		<button type="submit" class="btn btn-primary">Log In</button>
	</form>
</div>