<div class="row" ng-controller="RegisterController">
	<form class="col-sm-4">

		<div class="form-group">
			<label for="username">User name</label> <input type="text"
				class="form-control" id="username" ng-model="username"
				placeholder="Username" required maxlength="10">
		</div>
		<div class="form-group">
			<label for="password">Password</label> <input type="password"
				class="form-control" id="password" ng-model="password"
				placeholder="Password" required maxlength="8">
		</div>
		<div class="form-group">
			<label for="email">Email</label> <input type="email"
				class="form-control" id="email" ng-model="email" placeholder="email"
				required>
		</div>

		<div class="form-group">
			<label for="phone">Telephone</label>

			<div class="row form-group">
				<div class="col-sm-5">
					<select class="form-control" id="pre">

						<option value="050">050</option>
						<option value="051">051</option>
						<option value="052">052</option>
						<option value="053">053</option>
						<option value="054">054</option>
						<option value="055">055</option>
						<option value="056">056</option>
						<option value="057">057</option>
						<option value="058">058</option>
						<option value="059">059</option>
						<option value="02">02</option>
						<option value="03">03</option>
						<option value="04">04</option>
						<option value="08">08</option>
						<option value="09">09</option>
					</select>
				</div>
				<div class="col-sm-7">
					<input type="number" class="form-control" id="phone"
						ng-model="phone" placeholder="phone" required maxlength="7">
				</div>

			</div>
		</div>
		<div class="form-group">
			<label for="city">City</label> <input type="text"
				class="form-control" id="city" ng-model="city" placeholder="city"
				required>
		</div>
		<div class="form-group">
			<label for="zip">Postal Code</label> <input type="number"
				class="form-control" id="zip" ng-model="zip"
				placeholder="Postal Code" required maxlength="7">
		</div>
		<div class="form-group">
			<label for="street">Street name</label> <input type="text"
				class="form-control" id="street" ng-model="street"
				placeholder="street name" required>
		</div>

		<div class="form-group">
			<label for="sNumber">Street Number</label> <input type="number"
				class="form-control" id="sNumber" ng-model="sNumber"
				placeholder="Postal Code" required>
		</div>
		<button type="submit" class="btn btn-primary">Log In</button>
	</form>

</div>
