<div class="row" ng-controller="EbookController">
	<div class="col-md-10 col-md-offset-1 text-center-xs">
		<div ng-hide="book">
			<p>Loading e-book...</p>
		</div>
		<div ng-show="book" ng-cloak>
			<div class="row">
				<div class="col-md-12">
					<a href="#" ng-click="redirect('ebooks.index')">
						<span class="glyphicon glyphicon-arrow-left"></span> Back
					</a>
				</div>
			</div>
			<h3>
				{{ book.name }}
				<small>
					<ul class="list-inline inline-block">
						<li>
							<span class="label label-default fs100"><span class="glyphicon glyphicon-thumbs-up"></span> {{ book.likes.length }}</span>
						</li>
						<li>
							<span class="label label-default fs100">${{ book.price }}</span>
						</li>
					</ul>
				</small>
			</h3>
			<hr>
			<div class="row">
				<div class="col-sm-4 col-sm-push-8 text-center">
					<img ng-src="./books/{{ book.path }}/files/cover.jpg" class="img-rounded book-cover-small thumbnail inline-block" alt="book cover">
				</div>
				<div class="col-sm-8 col-sm-pull-4">
					<p class="text-justify">{{ book.description }}</p>
					<div class="row">
						<div class="col-md-12">
							<button class="btn" type="button" data-target="#buy" data-toggle="modal" ng-hide="state.authed && book.has_purchased">Buy e-book</button>
							<button type="button" class="btn btn-success" ng-click="readEbook()" ng-show="state.authed && book.has_purchased">Read</button>
							<button ng-click="toggleLike($scope, book)" type="button" class="btn btn-primary">
								<span class="glyphicon glyphicon-thumbs-up"></span> {{ state.authed ? (userHasLiked(book.likes, state.user.id) ? 'Unlike' : 'Like') : 'Like' }}
							</button>
						</div>
					</div>
				</div>
			</div>
			<hr>
			<div class="row">
				<div class="col-sm-4">
					<h3>
						Likes <span class="badge">{{ book.likes.length }}</span>
					</h3>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="like in book.likes">
							<span ng-show="state.user.id == like.user_id" class="glyphicon glyphicon-user"></span>{{ (state.user.id == like.user_id) ? ' ' : '' }}{{ like.user_nickname }}
						</li>
					</ul>
				</div>
				<div class="col-sm-8">
					<h3>
						Reviews <span class="badge">{{ book.reviews && book.reviews.length || 0 }}</span>
					</h3>
					<div class="row">
						<div class="col-sm-12">
							<div class="mbs">
								<button id="reviewButton" class="btn btn-success" ng-hide="userHasReviewed(book.reviews, state.user.id)" ng-click="showReviewForm()">Write Review</button>
							</div>
							<form name="reviewForm" id="reviewForm" class="collapse" novalidate>
								<div ng-show="reviewFormError.length" class="text-danger">{{ reviewFormError }}</div>
								<div class="form-group" ng-class="{ 'has-error' : reviewForm.reviewContent.$invalid && reviewForm.reviewContent.$dirty }">
									<textarea ng-disabled="reviewFormSuccess" class="form-control" name="reviewContent" ng-model="reviewContent" rows="3" placeholder="Enter your review" ng-minlength="1" ng-maxlength="20000"></textarea>
									<span ng-show="reviewForm.reviewContent.$invalid && reviewForm.reviewContent.$dirty" class="text-warning">Please enter a review of up to 20,000 characters.</span>
								</div>
								<div class="form-group text-right" ng-hide="reviewFormSuccess">
									<button class="btn btn-default" ng-click="submitReviewForm()" ng-disabled="reviewForm.$pristine || reviewForm.$invalid">Submit Review</button>
								</div>
								<div ng-show="reviewFormSuccess" class="form-group text-success">Thank you for reviewing this book. An admin will review and approve your review soon.</div>
							</form>
						</div>
					</div>
					<div ng-repeat="review in book.reviews">
						<div class="media">
							<div class="media-left">
								<img class="media-object user-icon" ng-src="{{ review.user_photo || './user_icon.png' }}">
							</div>
							<div class="media-body">
								<h4 class="media-heading">{{ review.user_nickname }}</h4>
								<p class="text-justify">{{ review.content }}</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="buy" class="modal fade" role="dialog">
			<div class="modal-dialog modal-sm" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">
							<span class="glyphicon glyphicon-shopping-cart"></span> Purchase e-book
						</h4>
					</div>
					<div class="modal-body">
						<form action="" novalidate name="purchaseForm">
							<div class="form-group" ng-class="{ 'has-error' : purchaseForm.paymentFullname.$invalid && purchaseForm.paymentFullname.$dirty }">
								<label for="paymentFullname">Full Name</label>
								<input type="text" class="form-control" ng-model="paymentFullname">
							</div>

							<div class="form-group">
								<label for="paymentCCCompany">Credit Card Company</label>
								<select class="form-control" id="paymentCCCompany" ng-model="paymentCCCompany" ng-required>
									<option value="visa">VISA</option>
									<option value="mastercard">MasterCard</option>
									<option value="amex">American Express</option>
								</select>
							</div>

							<div class="form-group">
								<label for="paymentCCNumber">Credit Card Number and CVV</label>

								<div class="row no-gutter">
									<div class="col-xs-9">
										<input ng-class="{ 'has-error' : purchaseForm.paymentCCNumber.$invalid && purchaseForm.paymentCCNumber.$dirty }" class="form-control" id="paymentCCNumber" name="paymentCCNumber" ng-model="paymentCCNumber" placeholder="Credit Card Number" ng-required="true" data-ng-minlength="15"
											maxlength="16" data-ng-pattern="/^(((37|34)\d)|((4\d{3})|(5[0-5]\d{2})))(\d{12})$/">
									</div>
									<div class="col-xs-3">
										<input maxlength="4" ng-class="{ 'has-error' : purchaseForm.paymentCCV.$invalid && purchaseForm.paymentCCV.$dirty }" type="text" class="form-control" id="paymentCCV" name="paymentCCV" ng-model="paymentCCV" ng-pattern="/^\d{3,4}$/" ng-required="true" placeholder="123">
									</div>
								</div>
								<span ng-show="(purchaseForm.paymentCCNumber.$invalid && purchaseForm.paymentCCNumber.$dirty) || (purchaseForm.paymentCCV.$invalid && purchaseForm.paymentCCV.$dirty)" class="text-warning">Please enter a correct credit card number and CVV combination.</span>
							</div>

							<label for="paymentExpiryDateMonth">Credit Card Expiry Date</label>
							<div class="form-group row no-gutter">
								<div class="col-sm-4 form-group">
									<select class="form-control" id="paymentExpiryDateMonth" ng-model="paymentExpiryDateMonth" name="paymentExpiryDateMonth">
										<option value="01">01</option>
										<option value="02">02</option>
										<option value="03">03</option>
										<option value="04">04</option>
										<option value="05">05</option>
										<option value="06">06</option>
										<option value="07">07</option>
										<option value="08">08</option>
										<option value="09">09</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
									</select>
								</div>
								<div class="col-sm-4 form-group">
									<select class="form-control" id="paymentExpiryDateYear" ng-model="paymentExpiryDateYear" name="paymentExpiryDateYear">
										<option value="18">18</option>
										<option value="19">19</option>
										<option value="20">20</option>
										<option value="21">21</option>
										<option value="22">22</option>
										<option value="23">23</option>
										<option value="24">24</option>
									</select>
								</div>
							</div>

						</form>
					</div>
					<div class="modal-footer">
						<button ng-click="purchaseFormSubmit()" class="btn btn-success pull-right" ng-disabled="purchaseForm.$pristine || purchaseForm.$invalid">Purchase</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>