<div class="row" ng-controller="EbookReadController">
	<div class="col-md-12 text-center-xs">
		<div ng-hide="book">
			<p>Loading e-book...</p>
		</div>
		<div ng-show="book" ng-cloak>
			<div class="row">
				<div class="col-md-12">
					<a href="#" ng-click="redirectBack()">
						<span class="glyphicon glyphicon-arrow-left"></span> Back
					</a>
				</div>
			</div>
			<h3>{{ book.name }}</h3>
			<hr>

			<div>
				<iframe scrolling="no" onload="resizeIframe(this)" frameborder="0" ng-if="state.authed && book.has_purchased" ng-src="{{ book.iframe_url }}"></iframe>
			</div>
		</div>
	</div>
</div>