<nav class="navbar navbar-default navbar-fixed-top"
	ng-class="{ 'navbar-inverse': currentSection == 'admin', 'navbar-regular': currentSection != 'admin' }" ng-controller="NavController">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" ng-click="redirect('home')">BooksForAll</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-left">
				<li ng-class="{ 'active' : currentPage == 'home' }">
					<a href="#" ng-click="redirect('home')">
						<span class="glyphicon glyphicon-home"></span> HOME
					</a>
				</li>
				<li ng-class="{ 'active' : currentPage == 'ebooks.index' }">
					<a href="#" ng-click="redirect('ebooks.index')">
						<span class="glyphicon glyphicon-book"></span> E-BOOKS
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" ng-show="!state.authed">
				<li ng-class="{ 'active' : currentPage == 'auth.login' }">
					<a href="#" ng-click="redirect('auth.login')">
						<span class="glyphicon glyphicon-lock"></span> LOGIN
					</a>
				</li>
				<li ng-class="{ 'active' : currentPage == 'auth.register' }">
					<a href="#" ng-click="redirect('auth.register')">
						<span class="glyphicon glyphicon-user"></span> REGISTER
					</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right" ng-show="state.authed">
				<li ng-show="state.user.is_admin" ng-class="{ 'active' : currentSection == 'admin' }">
					<a href="#" ng-click="redirect('admin.home')">
						<span class="glyphicon glyphicon-user"></span> ADMIN AREA
					</a>
				</li>
				<li class="dropdown" ng-class="{ 'active' : currentSection == 'account' }">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						ACCOUNT <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li ng-class="{ 'active' : currentPage == 'account.ebooks' }">
							<a href="#" ng-click="redirect('account.ebooks')">My E-books</a>
						</li>
						<li ng-class="{ 'active' : currentPage == 'account.reviews' }">
							<a href="#" ng-click="redirect('account.reviews')">My Reviews</a>
						</li>
						<li role="separator" class="divider"></li>
						<li class="dropdown-header">Actions</li>
						<li>
							<a href="#" ng-click="logout()">
								<span class="glyphicon glyphicon-off"></span> Log Out
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<!--/.nav-collapse -->
	</div>
</nav>