<div ng-controller="AdminNavController" class="row">
	<div class="col-md-3 well">
		<ul class="list-unstyled">
			<li ng-class="{ 'active' : currentPage == 'admin.home' }" class="admin-sidenav-el">
				<a href="#" ng-click="redirect('admin.home')">
					<strong><span class="glyphicon glyphicon-home"></span> HOME</strong>
				</a>
			</li>
			<li ng-class="{ 'active' : currentPage == 'admin.users' }" class="admin-sidenav-el">
				<a href="#" ng-click="redirect('admin.users')">
					<strong><span class="glyphicon glyphicon-user"></span> BROWSE USERS</strong>
				</a>
			</li>
			<li ng-class="{ 'active' : currentPage == 'admin.purchases' }" class="admin-sidenav-el">
				<a href="#" ng-click="redirect('admin.purchases')">
					<strong><span class="glyphicon glyphicon-shopping-cart"></span> RECENT PURCHASES</strong>
				</a>
			</li>
		</ul>
	</div>
	<div class="col-md-9" ng-switch="currentPage" ng-init="{currentPage: 'admin.home'}">
		<div ng-switch-when="admin.home">
			<div ng-include="'./pages/admin/home.html'"></div>
		</div>
		<div ng-switch-when="admin.users">
			<div ng-include="'./pages/admin/users.html'"></div>
		</div>
		<div ng-switch-when="admin.purchases">
			<div ng-include="'./pages/admin/purchases.html'"></div>
		</div>
		<div ng-switch-default>
			<h3 class="text-center" ng-cloak>Page not found :(</h3>
		</div>
	</div>
</div>
</div>