<div data-ng-controller="AdminPurchasesController" class="row">
	<div class="col-sm-12">
	<h3>Purchases in The Past 30 Days</h3>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Date</th>
					<th>Username</th>
					<th>E-book</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="purchase in purchases">
					<td>{{ time_ago(purchase.timestamp) }}</td>
					<td>
						<a data-toggle="tooltip" title="A.K.A. {{ purchase.user_nickname }}">{{purchase.user_username}}</a>
					</td>
					<td>{{purchase.ebook_name}}</td>
					<td>
						${{purchase.ebook_price}}<span ng-if="$last">{{ setupTooltips() }}</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>