<div data-ng-controller="AdminReviewsController" class="row">
	<div class="col-sm-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Time</th>
					<th>Username</th>
					<th class="w70">Review</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="review in reviews">
					<td>{{ time_ago(review.timestamp) }}</td>
					<td>
						<a data-toggle="tooltip" title="A.K.A. {{ review.user_nickname }}">{{review.user_username}}</a>
					</td>
					<td>
						<p class="">
							<strong>{{ review.ebook_name }}</strong>
							<br>
							{{ review.content }}
						</p>
					</td>
					<td class="text-right">
						<a class="btn btn-success" ng-click="approveReview(review.user_id, review.ebook_id)">
							<span class="glyphicon glyphicon-ok"></span>
						</a>
						<a class="btn btn-danger" ng-click="removeReview(review.user_id, review.ebook_id)">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
						<span ng-if="$last">{{ setupTooltips(); }}</span>
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-repeat="review in ::reviews">
			<div class="hidden" id="{{review.user_id}}{{review.ebook_id}}">
				<div class="popover-heading">
					<h4>Review</h4>
				</div>
				<div class="popover-body">
					<p>{{review.content}}</p>
				</div>
			</div>
		</div>
	</div>
</div>