<div data-ng-controller="adminUsersController" class="row">
	<div class="col-sm-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>Avatar</th>
					<th>Username</th>
					<th>Full Name</th>
					<th>Role</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users">
					<td>{{ user.id }}</td>
					<td><img ng-src="{{ user.photo || './user_icon.png' }}" class="sq32"></td>
					<td>
						<a href="#" data-placement="right" data-popover-content="#userInfo{{ user.id }}" data-toggle="popover" data-trigger="focus">{{ user.username }}</a>
					</td>
					<td>{{ user.fullname }}</td>
					<td>{{ user.is_admin ? 'Admin' : 'Regular User' }}</td>
					<td class="text-right">
						<a class="btn btn-danger" ng-disabled="user.is_admin" ng-click="showRemoveUser(user)">
							<span class="glyphicon glyphicon-trash"></span><span ng-if="$last">{{ setupPopovers() }}</span>
						</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div ng-repeat="user in ::users">
			<div class="hidden" id="userInfo{{ user.id }}">
				<div class="popover-heading">{{ user.username }}</div>

				<div class="popover-body">
					<label>Nickname:</label>
					<p>{{user.nickname}}</p>
					<label>Full Name:</label>
					<p>{{user.fullname}}</p>
					<label>Address:</label>
					<p>
						{{user.city}}, {{user.zip}}.
						<br>
						at {{user.street}}, {{user.street_number}}
					</p>
					<label>Email:</label>
					<p>{{user.email}}</p>
					<label>Phone Number:</label>
					<p>{{user.telephone}}</p>
					<label>Description:</label>
					<p>{{user.bio}}</p>
				</div>
			</div>
			<div id="removeUser{{user.id}}" class="modal fade" role="dialog">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4>Delete User</h4>
						</div>
						<div class="modal-body">
							<p>
								Are you sure you want to delete <strong>{{user.username}}</strong>? This action is irreversible.
							</p>
							<br>
							<div class="text-right">
								<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
								<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="removeUser(user)">Delete</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>